<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Results</title>
</head>
<body>
    <div class="container">
        <h2>Results:</h2>
        <h3> Name: <%= name %> </h3>
        <h3> Dojo Location: <%= location %> </h3>
        <h3> Favorite Language: <%= language %></h3>
        <h3> Comment: <%= comment %> </h3>
    </div>
</body>
</html>