<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css"></style>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css"></style>
</head>
<body>
    <div class="container cars">
        <hr color="whitesmoke">
        <h1>Vroom vroom ~</h1>
        <hr color="whitesmoke">
        <% for (var x in cars) { %>
            <img src="<%= cars[x].source %>">
        <% } %>
        <hr color="whitesmoke">
    </div>
</body>
</html>