<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Car</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css"></style>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css"></style>
</head>
<body>
    <div class="container form">
        <hr color="whitesmoke">
        <h1>Add a car C:</h1>
        <hr color="whitesmoke">
        <form>
            <div class="form-group row">
                <label for="make" class="col-sm-2 col-form-label">Make</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="make" placeholder="Make">
                </div>
            </div>
            <div class="form-group row">
                <label for="model" class="col-sm-2 col-form-label">Model</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="model" placeholder="Model">
                </div>
            </div>
            <hr color="whitesmoke">
            <div class="form-group row">
                    <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </form>
        <hr color="whitesmoke">
    </div>
</body>
</html>